<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">App Inventario</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" href="/">Inicio</a>
			</div>
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<h1>Bienvenido a la aplicacion de inventario</h1>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/categorias}">Lista de categorias</a>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/categorias/nuevo}">Agregar categoria</a>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/productos}">Lista de productos</a>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/productos/nuevo}">Agregar producto</a>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/marcas}">Lista de marcas</a>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/marcas/nueva}">Agregar marca</a>
		</div>
		<div class="p-2" >
			<a class="h2" th:href="@{/categorias/nuevo}">Crud con JUnit</a>
		</div>
	</div>
</body>
</html>